@import "../assets/abstracts/mixin_common";

.weather-button {
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  color: white;
  border-bottom-left-radius: 35px;

  h2 {
    @include title;
  }

  button {
    padding: 5px 10px;
    border-radius: 20px;
    transition: 0.2s;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-weight: 100;
    font-size: 13px;
    color: white;
    background-color: transparent;
    margin-bottom: 10px;
    text-align: left;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: white;
      color: #333;
    }
  }
}
